body {
}

/*Changing the project list to regular list*/
.listed {
    position: fixed;
    width: 200px;
    height: calc(100vh);
}

.listed > ul {
    width: 200px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.listed > ul > li {
    padding: 16px;
    transition: 0.5s;
}

/*Side bar*/
.sidebar {
    position: fixed;
    width: 200px;
    height: calc(100vh);
    background: #000000;
    color: #DDD;
}

.sidebar > ul {
    width: 200px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar > ul > li {
    padding: 16px;
    transition: 0.5s;
}

.sidebar > ul > li:hover {
    background: #00838f;
    color: #fff;
    cursor: pointer;
}

.main {
    margin-left: 160px;
    margin-top: 50px;
    padding: 0px 10px;
}